 <!-- about area start -->
 <div class="about-area pd-top-140">
    <div class="container">
        <div class="about-area-inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-thumb-wrap left-icon" style="background-image: url('assets/img/banner/2.png');">
                        <div class="about-icon"><img src="assets/img/icon/4.png" alt="img"></div>
                        <div class="bottom-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-inner-wrap pl-xl-4 pt-5 pt-lg-0 mt-5 mt-lg-0">  
                        <div class="section-title mb-0">
                            <h6 class="sub-title right-line">ABOUT US</h6>
                            <h2 class="title">Strength in Numbers</h2>
                            <p class="content">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph,</p>
                            <ul class="single-list-wrap">
                                <li class="single-list-inner style-check-box-grid">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5>Ligula molestie</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-list-inner style-check-box-grid">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="media-body">
                                            <h5>Ligula molestie</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area end -->
