<div class="work-area pd-top-110">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <h6 class="sub-title right-line">What we do</h6>
                    <h2 class="title">How it works?</h2>
                </div>
                <div class="col-lg-6 align-self-center">
                    <p class="content mt-lg-0">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs when MTV ax quiz</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-intro-inner style-icon-bg bg-gray text-center">
                    <div class="thumb">
                        <img src="assets/img/icon/12.png" alt="img">
                        <div class="intro-count">1</div>
                    </div>
                    <div class="details">
                        <h5>Sign up</h5>
                        <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                        <a class="read-more-text" href="signup.html">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-intro-inner style-icon-bg bg-gray text-center">
                    <div class="thumb">
                        <img src="assets/img/icon/13.png" alt="img">
                        <div class="intro-count">2</div>
                    </div>
                    <div class="details">
                        <h5>Select course</h5>
                        <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                        <a class="read-more-text" href="course.html">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-intro-inner style-icon-bg bg-gray text-center">
                    <div class="thumb">
                        <img src="assets/img/icon/14.png" alt="img">
                        <div class="intro-count">3</div>
                    </div>
                    <div class="details">
                        <h5>Start Learning</h5>
                        <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                        <a class="read-more-text" href="course-details.html">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-intro-inner style-icon-bg bg-gray text-center">
                    <div class="thumb">
                        <img src="assets/img/icon/15.png" alt="img">
                        <div class="intro-count">4</div>
                    </div>
                    <div class="details">
                        <h5>Get Certificate</h5>
                        <p>Ipsum yorem dolor amet sit  elit. Duis at est id leosco for it</p>
                        <a class="read-more-text" href="blog-details.html">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
