<div class="testimonial-area pd-top-100">
    <div class="container">
        <div class="testimonial-area-inner bg-cover"  style="background-image: url('assets/img/other/2.png');">
            <img class="testimonial-right-img" src="assets/img/other/3.png" alt="img">
            <div class="testimonial-slider owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner style-white">
                        <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                        <p class="mb-4">Eugene Freeman sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, elitr, sed diam sed diam volu</p>
                        <div class="media testimonial-author">
                            <div class="media-left">
                                <img src="assets/img/author/1.png" alt="img">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Eugene Freeman</h6>
                                <p>Tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner style-white">
                        <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                        <p class="mb-4">Jaction Freeman amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed elitr, sed diam diam volu</p>
                        <div class="media testimonial-author">
                            <div class="media-left">
                                <img src="assets/img/author/2.png" alt="img">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Jaction Freeman</h6>
                                <p>Tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

