<div class="contact-area bg-overlay mt-200 pd-bottom-90" style="background-image: url('assets/img/banner/2.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form class="contact-form-inner mt-mn-200 style-shadow">
                    <div class="section-title">
                        <h2 class="title">Request A Quote</h2>
                        <p>We will be happy to answer your questions.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Full name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-input-inner">
                                <input type="text" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-input-inner">
                                <textarea placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 align-self-center">
                            <div class="single-input-inner style-checkbox">
                                <input type="checkbox">
                                Also subscribe us
                            </div>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <a class="btn btn-base" href="#">Send Message</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 align-self-end">
                <div class="mt-5 mt-lg-0">
                    <ul class="single-list-wrap">
                        <li class="single-list-inner style-white style-check-box-grid-2">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/16.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5>Our Address</h5>
                                    <p>PSD Building, 2 AlBahr</p>
                                    <p>St, Loskia sripur</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner style-white style-check-box-grid-2">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/17.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5>Our Phone</h5>
                                    <p>+0029129102320</p>
                                    <p>+000 2324 39493</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner style-white style-check-box-grid-2">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/18.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5>Our Email</h5>
                                    <p><a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="355b54585075425057465c41501b565a58">[email&#160;protected]</a></p>
                                    <p><a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a5eccbc3cae5cad7c0dd8bc6cac8">[email&#160;protected]</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
