<div class="navbar-area">

    <nav class="navbar navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a routerLink="/signin" class="signin-btn" href="signin.html">Sign In</a>
                <a routerLink="/signup" class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="edumint_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 1</a></li>
                            <li><a routerLink="/home2" href="index-2.html">Home 2</a></li>
                            <li><a routerLink="/home3" href="index-3.html">Home 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Course</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/courses" href="course.html">Course</a></li>
                            <li><a routerLink="/courseDetails" href="course-details.html">Course Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a routerLink="/activity" routerLinkActive="active">Activity</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                            <li><a href="team.html">Instructor</a></li>
                            <li><a href="team-details.html">Instructor Details</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <a routerLink="/signin" class="signin-btn" href="signin.html">Sign In</a>
                <a routerLink="/signup" class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </nav>
</div>
