<div class="counter-area bg-gray">
    <div class="container">
        <div class="counter-area-inner pd-top-120 pd-bottom-120" style="background-image: url('assets/img/other/1.png');">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="section-title mb-0">
                        <h6 class="sub-title right-line">Funfact</h6>
                        <h2 class="title">Strength in Numbers</h2>
                        <p class="content pb-3">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy</p>
                        <div class="btn-counter bg-base mt-4">
                            <h3 class="left-val align-self-center"><span class="counter">2.4</span>k+</h3>
                            <div class="right-val align-self-center">
                                Successful <br> students
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 align-self-center">
                    <ul class="single-list-wrap">
                        <li class="single-list-inner style-box-bg">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/1.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5><span class="counter">1200</span>+</h5>
                                    <p>Learners & counting</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner style-box-bg">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/2.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5><span class="counter">320</span>+</h5>
                                    <p>Total courses</p>
                                </div>
                            </div>
                        </li>
                        <li class="single-list-inner style-box-bg">
                            <div class="media">
                                <div class="media-left">
                                    <img src="assets/img/icon/3.png" alt="img">
                                </div>
                                <div class="media-body align-self-center">
                                    <h5><span class="counter">1340</span>+</h5>
                                    <p>Successful students</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
