<div class="team-area pd-top-110">
    <div class="container-fluid pl-4 pr-4">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title text-center">
                    <h6 class="sub-title double-line">Meet Our Team</h6>
                    <h2 class="title">Our Creative Team</h2>
                </div>
            </div>
        </div>
        <div class="team-slider owl-carousel">
            <div class="item">
                <div class="single-team-inner">
                    <div class="thumb">
                        <img src="assets/img/team/1.png" alt="img">
                        <div class="social-wrap">  
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details"> 
                        <h4><a href="team-details.html">Doris Jordan</a></h4>
                        <span>Design Expert</span>
                    </div>  
                </div>
            </div>
            <div class="item">
                <div class="single-team-inner">
                    <div class="thumb">
                        <img src="assets/img/team/2.png" alt="img">
                        <div class="social-wrap">  
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details"> 
                        <h4><a href="team-details.html">Eugen Freman</a></h4>
                        <span>Executive</span>
                    </div>  
                </div>
            </div>
            <div class="item">
                <div class="single-team-inner">
                    <div class="thumb">
                        <img src="assets/img/team/3.png" alt="img">
                        <div class="social-wrap">  
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details"> 
                        <h4><a href="team-details.html">Jaction Leo</a></h4>
                        <span>Developer</span>
                    </div>  
                </div>
            </div>
            <div class="item">
                <div class="single-team-inner">
                    <div class="thumb">
                        <img src="assets/img/team/4.png" alt="img">
                        <div class="social-wrap">  
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details"> 
                        <h4><a href="team-details.html">Jordan Feg</a></h4>
                        <span>Marketing Expert</span>
                    </div>  
                </div>
            </div>
            <div class="item">
                <div class="single-team-inner">
                    <div class="thumb">
                        <img src="assets/img/team/5.png" alt="img">
                        <div class="social-wrap">  
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="details"> 
                        <h4><a href="team-details.html">Walson Jordan</a></h4>
                        <span>Ui/Ux Expert</span>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

