<div class="blog-area pd-top-80 pd-bottom-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title text-center">
                    <h6 class="sub-title double-line">Latest News</h6>
                    <h2 class="title">Our Insights & Articles</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="single-blog-list-wrap mb-5 mb-lg-0">
                    <li>
                        <div class="media single-blog-list-inner">
                            <div class="media-left date">
                                <span>JAN</span>
                                20
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Duis pretium gravida enim maximus</a></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media single-blog-list-inner">
                            <div class="media-left date">
                                <span>FEB</span>
                                26
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Maecenas interdum lorem eleifend</a></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media single-blog-list-inner">
                            <div class="media-left date">
                                <span>JAN</span>
                                28
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Nunc scelerisque tincidunt elit. </a></h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="single-blog-inner">
                            <div class="thumb">
                                <img src="assets/img/blog/1.png" alt="img">
                                <span class="date">28 JANUARY, 2020</span>
                            </div>
                            <div class="details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Quisque suscipit ipsum est, eu venenatis leo</a></h5>
                                <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog-inner">
                            <div class="thumb">
                                <img src="assets/img/blog/2.png" alt="img">
                                <span class="date">28 JANUARY, 2020</span>
                            </div>
                            <div class="details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Maecenas interdu rem eleifend orci aliquam</a></h5>
                                <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
