 <!-- banner start -->
 <div class="banner-area banner-area-1 bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 order-lg-12 align-self-center">
                <div class="thumb b-animate-thumb">
                    <img src="assets/img/banner/1.png" alt="img">
                </div>
            </div>
            <div class="col-lg-7 order-lg-1 align-self-center">
                <div class="banner-inner text-center text-lg-left mt-5 mt-lg-0">
                    <h6 class="b-animate-1 sub-title">DISCOVER RESEARCH</h6>
                    <h1 class="b-animate-2 title">A better learning future starts here</h1>
                    <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="contact.html">Get A Quote</a>
                    <a class="btn btn-border-black b-animate-3" href="blog.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->  
