 <!-- navbar start -->
 <div class="navbar-area">
    <nav class="navbar navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a routerLink="/signin" class="signin-btn" href="signin.html">Sign In</a>
                <a routerLink="/signup" class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="edumint_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a routerLink="" href="index.html">Home 1</a></li>
                            <li><a routerLink="/home2" href="index-2.html">Home 2</a></li>
                            <li><a routerLink="/home3" href="index-3.html">Home 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Course</a>
                        <ul class="sub-menu">
                            <li><a routerLink="/courses" href="course.html">Course</a></li>
                            <li><a routerLink="/courseDetails" href="course-details.html">Course Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a routerLink="/activity" routerLinkActive="active">Activity</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                            <li><a href="team.html">Instructor</a></li>
                            <li><a href="team-details.html">Instructor Details</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop style-black">
                <a routerLink="/signin" class="signin-btn" href="signin.html">Sign In</a>
                <a routerLink="/signup" class="btn btn-base" href="blog.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- navbar end -->
    
    <!-- banner start -->
    <div class="banner-area banner-area-3 bg-black">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-10">
                    <div class="thumb b-animate-thumb">
                        <img src="assets/img/banner/3.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-7 align-self-center mt-5 mt-lg-0">
                    <div class="banner-inner style-white text-center text-lg-left">
                        <h6 class="b-animate-1 banner-btn">PLACE TO GROW</h6>
                        <h1 class="b-animate-2 title">We creating leaders for tomorrow</h1>
                        <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="blog.html">Get A Quote</a>
                        <a class="btn btn-border-white b-animate-3" href="blog.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->  

    <!-- intro start -->
    <div class="intro-area intro-area--top">
        <div class="container">
            <div class="intro-slider owl-carousel">
                <div class="item">
                    <div class="single-intro-inner style-white bg-green text-center">
                        <div class="thumb">
                            <img src="assets/img/intro/7.png" alt="img">
                        </div>
                        <div class="details">
                            <h5>Postgraduate</h5>
                            <a class="read-more" href="blog-details.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-intro-inner style-white bg-yellow text-center">
                        <div class="thumb">
                            <img src="assets/img/intro/8.png" alt="img">
                        </div>
                        <div class="details">
                            <h5>Postgraduate</h5>
                            <a class="read-more" href="blog-details.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-intro-inner style-white bg-blue text-center">
                        <div class="thumb">
                            <img src="assets/img/intro/9.png" alt="img">
                        </div>
                        <div class="details">
                            <h5>Postgraduate</h5>
                            <a class="read-more" href="blog-details.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-intro-inner style-white bg-red text-center">
                        <div class="thumb">
                            <img src="assets/img/intro/10.png" alt="img">
                        </div>
                        <div class="details">
                            <h5>Postgraduate</h5>
                            <a class="read-more" href="blog-details.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="single-intro-inner style-white bg-deep-green text-center">
                        <div class="thumb">
                            <img src="assets/img/intro/7.png" alt="img">
                        </div>
                        <div class="details">
                            <h5>Postgraduate</h5>
                            <a class="read-more" href="blog-details.html"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro end -->

    <!-- about area start -->
    <div class="about-area pd-top-120">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-thumb-wrap style-two" style="background-image: url('assets/img/about/3.png');">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-inner-wrap">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title style-btn">ABOUT US</h6>
                                <h2 class="title">1230+ Courses Online from Best Tutors</h2>
                                <p class="content">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad</p>
                                <ul class="single-list-wrap">
                                    <li class="single-list-inner style-box-2">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="assets/img/icon/23.png" alt="img">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <h5 class="mb-2">Project Reporting</h5>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="single-list-inner style-box-2">
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="assets/img/icon/24.png" alt="img">
                                            </div>
                                            <div class="media-body align-self-center">
                                                <h5 class="mb-2">Data Tracking</h5>
                                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidun</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- course area start -->
    <div class="course-area pd-top-110 pd-bottom-90">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-8 align-self-center">
                        <h2 class="title mt-0">Top Featured Courses</h2>
                    </div>
                    <div class="col-md-4 text-md-right mt-3 mt-md-0">
                        <a routerLink="/courses" class="btn btn-base mt-0" href="course.html">View All</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/3.png" alt="img"></span>
                                    <span class="align-self-center">Timothy Willis</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Praesent eu dolor eu orci vehicula euismod</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/3.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/6.png" alt="img"></span>
                                    <span class="align-self-center">Randy Hart</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Duis rhoncus dui venenatis consequat porttito</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/6.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/4.png" alt="img"></span>
                                    <span class="align-self-center">Walter Griffin</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Duis vestibulum elit vel neque pharetra vulputate</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/4.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/1.png" alt="img"></span>
                                    <span class="align-self-center">Nancy Reyes</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Fox nymphs grab quick-jived waltz. Brick quiz whangs</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/1.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/5.png" alt="img"></span>
                                    <span class="align-self-center">Aaron Powell</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Quisque suscipit ipsum est, eu venenatis leo ornare eget</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/5.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/2.png" alt="img"></span>
                                    <span class="align-self-center">Joe Powell</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Aenean sed nibh a magna posuere tempo faucib</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/2.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/7.png" alt="img"></span>
                                    <span class="align-self-center">Randy Hart</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Duis rhoncus dui venenatis consequat porttito</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/7.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-course-inner style-bottom-thumb">
                        <div class="details">
                            <div class="details-inner">
                                <div class="emt-user">
                                    <span class="u-thumb"><img src="assets/img/author/2.png" alt="img"></span>
                                    <span class="align-self-center">Walter Griffin</span>
                                </div>
                                <h6><a routerLink="/courseDetails" href="course-details.html">Duis vestibulum elit vel neque pharetra vulputate</a></h6>
                            </div>
                            <div class="emt-course-meta">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="price">$74.00</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating text-right">
                                            <i class="fa fa-star"></i> 4.9
                                            <span>(73)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb">
                            <img src="assets/img/course/8.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- course area end -->

    <!-- about area start -->
    <div class="about-area pd-top-100 pd-bottom-100" style="background-image: url('assets/img/bg/2.png');">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 order-lg-12 align-self-center">
                        <img src="assets/img/about/4.png" alt="img">
                    </div>
                    <div class="col-lg-6 order-lg-1 align-self-center mt-4 mt-lg-0">
                        <div class="about-inner-wrap">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title style-btn">ABOUT US</h6>
                                <h2 class="title">1230+ Courses Online from Best Tutors</h2>
                                <p class="content">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad</p>
                            </div>
                            <ul class="single-progress-inner mt-4 pt-2">
                                <li class="progress-item" id="progress-running-1">
                                    <h6>Nullam est</h6>
                                    <div class="progress-bg">
                                        <div id="progress-1" class="progress-rate" data-value="78">
                                            <div class="progress-count-wrap">
                                                <span class="progress-count counting" data-count="78">0</span>
                                                <span class="counting-icons">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="progress-item" id="progress-running-2">
                                    <h6>Mattis dictum nunc</h6>
                                    <div class="progress-bg">
                                        <div id="progress-2" class="progress-rate" data-value="60">
                                            <div class="progress-count-wrap">
                                                <span class="progress-count counting" data-count="60">0</span>
                                                <span class="counting-icons">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="progress-item" id="progress-running-3">
                                    <h6>Malesuada dictum</h6>
                                    <div class="progress-bg">
                                        <div id="progress-3" class="progress-rate" data-value="86">
                                            <div class="progress-count-wrap">
                                                <span class="progress-count counting" data-count="86">0</span>
                                                <span class="counting-icons">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- counter area start -->
    <div class="counter-area mg-top--50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-list-inner style-box-bg">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/icon/28.png" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h5><span class="counter">1200</span>+</h5>
                                <p>Learners & counting</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-list-inner style-box-bg">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/icon/29.png" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h5><span class="counter">320</span>+</h5>
                                <p>Total courses</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-list-inner style-box-bg">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/img/icon/30.png" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h5><span class="counter">1340</span>+</h5>
                                <p>Successful students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter area end -->

    <!-- about area start -->
    <div class="about-area pd-top-80">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <img src="assets/img/about/5.png" alt="img">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="about-inner-wrap">  
                            <div class="section-title mb-0">
                                <h6 class="sub-title style-btn">ABOUT US</h6>
                                <h2 class="title">1230+ Courses Online from Best Tutors</h2>
                                <p class="content">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="single-list-wrap">
                                            <li class="single-list-inner style-check-box">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5>Ligula molestie</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="single-list-wrap">
                                            <li class="single-list-inner style-check-box">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5>Ligula molestie</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-90 pd-bottom-110">
        <div class="container">
            <div class="testimonial-slider-3 owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner">
                        <div class="media testimonial-author mb-4">
                            <div class="media-left">
                                <img src="assets/img/author/1.png" alt="img">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Eugene Freeman</h6>
                                <p>Tincidunt</p>
                            </div>
                        </div>
                        <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                        <p class="mb-0">Lorem ipsum dolor sit amet, elitr, sed diam volu sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <div class="media testimonial-author mb-4">
                            <div class="media-left">
                                <img src="assets/img/author/2.png" alt="img">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Freeman Ugene</h6>
                                <p>Tincidunt</p>
                            </div>
                        </div>
                        <span class="testimonial-quote"><i class="fa fa-quote-left"></i></span>
                        <p class="mb-0">Lorem ipsum dolor sit amet, elitr, sed diam volu sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area end -->

    <!-- team area start -->
    <div class="team-area bg-light-green pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title text-center">
                        <h6 class="sub-title style-btn">Meet Our Team</h6>
                        <h2 class="title">Our Creative Team</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner">
                        <div class="thumb">
                            <img src="assets/img/team/1.png" alt="img">
                            <div class="social-wrap">  
                                <div class="social-wrap-inner">
                                    <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="details"> 
                            <h4><a href="#">Doris Jordan</a></h4>
                            <span>Design Expert</span>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner">
                        <div class="thumb">
                            <img src="assets/img/team/2.png" alt="img">
                            <div class="social-wrap">  
                                <div class="social-wrap-inner">
                                    <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="details"> 
                            <h4><a href="#">Eugen Freman</a></h4>
                            <span>Executive</span>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-inner">
                        <div class="thumb">
                            <img src="assets/img/team/3.png" alt="img">
                            <div class="social-wrap">  
                                <div class="social-wrap-inner">
                                    <a class="social-share" href="#"><i class="fa fa-share-alt"></i></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="details"> 
                            <h4><a href="#">Jaction Leo</a></h4>
                            <span>Developer</span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team area end -->

    <!-- faq area start -->
    <div class="faq-area pd-top-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-area-inner">
                        <div class="section-title mb-0">
                            <h2 class="title mt-0">Do You Have Any Questions</h2>
                            <p class="content">Have ipsum dolor sit amet, elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo et ea rebum.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="single-list-wrap">
                                        <li class="single-list-inner style-check-box bg-light-green p-3 b-radius-5">
                                            <div class="media">
                                                <div class="media-left mr-0">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h5>1200+</h5>
                                                    <p>Learners & counting</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="single-list-wrap">
                                        <li class="single-list-inner style-check-box bg-light-green p-3 b-radius-5">
                                            <div class="media">
                                                <div class="media-left mr-0">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h5>350+</h5>
                                                    <p>Learners & counting</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <div id="accordion" class="accordion-area">
                        <div class="card single-faq-inner">
                            <div class="card-header" id="ff-one">
                                <h5 class="mb-0">
                                    <button class="btn-link" data-toggle="collapse" data-target="#f-one" aria-expanded="true" aria-controls="f-one">
                                        01.  What does you simply dummy in do ?
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="f-one" class="show collapse" aria-labelledby="ff-one" data-parent="#accordion">
                                <div class="card-body">
                                    What does you dummy text of free available in market printing has industry been industry's standard dummy text ever.
                                </div>
                            </div>
                        </div>
                        <div class="card single-faq-inner">
                            <div class="card-header" id="ff-two">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#f-two" aria-expanded="true" aria-controls="f-two">
                                        02.  What graphics dummy of free  design ?
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="f-two" class="collapse" aria-labelledby="ff-two" data-parent="#accordion">
                                <div class="card-body">
                                    What graphics simply dummy text of free available in market printing industry has been industry's standard dummy text ever.
                                </div>
                            </div>
                        </div>
                        <div class="card single-faq-inner">
                            <div class="card-header" id="ff-three">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#f-three" aria-expanded="true" aria-controls="f-three">
                                        03.  Why we are the best ?
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="f-three" class="collapse" aria-labelledby="ff-three" data-parent="#accordion">
                                <div class="card-body">
                                    Why we are dummy text of free available in market printing industry has been industry's standard dummy text ever.
                                </div>
                            </div>
                        </div>
                        <div class="card single-faq-inner">
                            <div class="card-header" id="ff-four">
                                <h5 class="mb-0">
                                    <button class="btn-link collapsed" data-toggle="collapse" data-target="#f-four" aria-expanded="true" aria-controls="f-four">
                                        04.  What industries dummy covered ?
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="f-four" class="collapse" aria-labelledby="ff-four" data-parent="#accordion">
                                <div class="card-body">
                                    What industries text of free available in market printing industry has been industry's standard dummy text ever.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->

    <!--client-area start-->
    <div class="client-area pd-top-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="institute-slider owl-carousel">
                        <div class="item">
                            <img src="assets/img/institute/1.png" alt="img">
                        </div>
                        <div class="item">
                            <img src="assets/img/institute/2.png" alt="img">
                        </div>
                        <div class="item">
                            <img src="assets/img/institute/3.png" alt="img">
                        </div>
                        <div class="item">
                            <img src="assets/img/institute/4.png" alt="img">
                        </div>
                        <div class="item">
                            <img src="assets/img/institute/5.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--client-area end-->

    <!--blog-area start-->
    <div class="blog-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="section-title text-center">
                        <h6 class="sub-title style-btn">Latest News</h6>
                        <h2 class="title">Our Insights & Articles</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-inner">
                        <div class="thumb">
                            <img src="assets/img/blog/1.png" alt="img">
                            <span class="date">28 JANUARY, 2020</span>
                        </div>
                        <div class="details">
                            <ul class="blog-meta">
                                <li><i class="fa fa-user"></i> BY ADMIN</li>
                                <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                            </ul>
                            <h5><a href="blog-details.html">Quisque suscipit ipsum est, eu venenatis leo</a></h5>
                            <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-inner">
                        <div class="thumb">
                            <img src="assets/img/blog/2.png" alt="img">
                            <span class="date">28 JANUARY, 2020</span>
                        </div>
                        <div class="details">
                            <ul class="blog-meta">
                                <li><i class="fa fa-user"></i> BY ADMIN</li>
                                <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                            </ul>
                            <h5><a href="blog-details.html">Maecenas inter lorem eleifend orci aliquam</a></h5>
                            <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-inner">
                        <div class="thumb">
                            <img src="assets/img/blog/2.png" alt="img">
                            <span class="date">28 JANUARY, 2020</span>
                        </div>
                        <div class="details">
                            <ul class="blog-meta">
                                <li><i class="fa fa-user"></i> BY ADMIN</li>
                                <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                            </ul>
                            <h5><a href="blog-details.html">Tcenas interdum lorem eleifend orci aliquam</a></h5>
                            <a class="read-more-text" href="blog-details.html">READ MORE <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog-area end-->

    <!-- footer area start -->
    <footer class="footer-area footer-area-2 bg-gray">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_about text-center">
                            <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
                            <div class="details">
                                <p>Edumint tetur sadipscing elitr tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                <ul class="social-media">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_contact">
                            <h4 class="widget-title">Contact Us</h4>
                            <ul class="details">
                                <li><i class="fa fa-map-marker"></i> 420 Love Sreet 133/2 Street NewYork</li>
                                <li><i class="fa fa-envelope"></i> <a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c7aea9a1a8e9a4a8a9b3a6a4b387a0aaa6aeabe9a4a8aa">[email&#160;protected]</a></li>
                                <li><i class="fa fa-phone"></i> 012 345 678 9101</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_blog_list">
                            <h4 class="widget-title">News & Blog</h4>
                            <ul>
                                <li>
                                    <h6><a href="blog-details.html">Big Ideas Of Business Branding Info.</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2022</span>
                                </li>
                                <li>
                                    <h6><a href="blog-details.html">Ui/Ux Ideas Of Business Branding Info.</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2022</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_nav_menu">
                            <h4 class="widget-title">Course</h4>
                            <ul>
                                <li><a routerLink="/courses" href="course.html">Branding design</a></li>
                                <li><a routerLink="/courses" href="course.html">Ui/Ux designing </a></li>
                                <li><a routerLink="/courses" href="course.html">Make Elements</a></li>
                                <li><a routerLink="/courses" href="course.html">Business</a></li>
                                <li><a routerLink="/courses" href="course.html">Graphics design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <p>Copyright 2022 by edumint.com</p>
                    </div>
                    <div class="col-md-7 text-md-right align-self-center mt-md-0 mt-2">
                        <div class="widget_nav_menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="pricing.html">Our Pricing</a></li>
                                <li><a href="blog.html">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- all plugins here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>

