<div class="intro-area intro-area--top">
    <div class="container">
        <div class="intro-area-inner intro-home-1 bg-black">
            <div class="row no-gutters">
                <div class="col-lg-4 text-lg-left text-center">
                    <div class="intro-title">
                        <h3>Vivamus maximus </h3>
                        <p>Lorem ipsum dolor sadipscing elitr, sed diam nonum</p>
                        <ul>
                            <li><i class="fa fa-check"></i> Nullam est </li>
                            <li><i class="fa fa-check"></i> Mattis dictum nunc  </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 align-self-center">
                    <ul class="row no-gutters">
                        <li class="col-md-4">
                            <div class="single-intro-inner style-white text-center">
                                <div class="thumb">
                                    <img src="assets/img/intro/1.png" alt="img">
                                </div>
                                <div class="details">
                                    <h5>Postgraduate</h5>
                                    <p>Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="single-intro-inner style-white text-center">
                                <div class="thumb">
                                    <img src="assets/img/intro/2.png" alt="img">
                                </div>
                                <div class="details">
                                    <h5>Engineering</h5>
                                    <p>Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="single-intro-inner style-white text-center">
                                <div class="thumb">
                                    <img src="assets/img/intro/3.png" alt="img">
                                </div>
                                <div class="details">
                                    <h5>Accounting</h5>
                                    <p>Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
