
    
    <!-- breadcrumb start -->
    <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
        <div class="container">
            <div class="breadcrumb-inner">
                <div class="section-title mb-0 text-center">
                    <h2 class="page-title">Courses</h2>
                    <ul class="page-list">
                        <li><a routerLink="" href="index.html">Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/1.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/1.png" alt="img"></span>
                                            <span class="align-self-center">Nancy Reyes</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Fox nymphs grab quick-jived waltz. Brick quiz whangs</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$54.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/2.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/2.png" alt="img"></span>
                                            <span class="align-self-center">Joe Powell</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Aenean sed nibh a magna posuere tempo faucib</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$54.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/3.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/3.png" alt="img"></span>
                                            <span class="align-self-center">Timothy Willis</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Praesent eu dolor eu orci vehicula euismod</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.9
                                                    <span>(73)</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="price text-right">
                                                    Price: <span>$74.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/4.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/4.png" alt="img"></span>
                                            <span class="align-self-center">Walter Griffin</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Duis vestibulum elit vel neque pharetra vulputate</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.8
                                                    <span>(53)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$64.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/5.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/5.png" alt="img"></span>
                                            <span class="align-self-center">Aaron Powell</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Quisque suscipit ipsum est, eu venenatis leo ornare eget</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.5
                                                    <span>(21)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$34.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/6.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/6.png" alt="img"></span>
                                            <span class="align-self-center">Randy Hart</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Duis rhoncus dui venenatis consequat porttito</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.4
                                                    <span>(20)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$55.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/7.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/2.png" alt="img"></span>
                                            <span class="align-self-center">Joe Powell</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Aenean sed nibh a magna posuere tempo faucib</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$54.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/img/course/8.png" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/3.png" alt="img"></span>
                                            <span class="align-self-center">Timothy Willis</span>
                                        </div>
                                        <h6><a routerLink="/courseDetails" href="course-details.html">Praesent eu dolor eu orci vehicula euismod</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.9
                                                    <span>(73)</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="price text-right">
                                                    Price: <span>$74.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="td-page-navigation">
                        <ul class="pagination">
                            <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a class="active" href="#">2</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">3</a></li>
                            <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 order-lg-1 col-12">
                    <div class="td-sidebar mt-5 mt-lg-0">
                        <div class="widget widget_search_course">    
                            <h4 class="widget-title">Search</h4>                               
                            <form class="search-form single-input-inner">
                                <input type="text" placeholder="Search here">
                                <button class="btn btn-base w-100 mt-3" type="submit"><i class="fa fa-search"></i> SEARCH</button>
                            </form>
                        </div> 
                        <div class="widget widget_catagory">
                            <h4 class="widget-title">Catagory</h4>                                 
                            <ul class="catagory-items">
                                <li><a href="#">Tempor lorem interdum <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Auctor mattis lacus  <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Dolor proin  <i class="fa fa-caret-right"></i></a></li>
                                <li><a href="#">Pharetra amet <i class="fa fa-caret-right"></i></a></li>
                            </ul>
                        </div>  
                        <div class="widget widget_checkbox_list">
                            <h4 class="widget-title">Price</h4> 
                            <label class="single-checkbox">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                Free Courses
                            </label> 
                            <label class="single-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Paid Courses
                            </label> 
                            <label class="single-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Only Subscription
                            </label>  
                        </div> 
                        <div class="widget widget_checkbox_list">
                            <h4 class="widget-title">Level</h4> 
                            <label class="single-checkbox">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                Beginner
                            </label> 
                            <label class="single-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Intermediate
                            </label> 
                            <label class="single-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Advanced
                            </label>  
                        </div> 
                        <div class="widget widget_tags mb-0">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tagcloud">
                                <a href="#">Art</a>
                                <a href="#">Creative</a>
                                <a href="#">Article</a>
                                <a href="#">Designer</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Project</a>
                                <a href="#">Personal</a>
                                <a href="#">Landing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- all plugins here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>

